%h2 Register

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 
  = devise_error_messages! 

  .field
    = f.label :email
    = f.email_field :email, autofocus: true

  .field
    = f.label :password
    - if @validatable
      %i (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off"

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"

  - if @has_photos_to_upload
    .field
    = f.check_box :move_photos, {checked: true}
    = f.label "Would you like to save the photos you uploaded?"


    .field
      = f.submit "Sign up"
      
= render "devise/shared/links"
