%h2 Login

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
  .field
    = f.label :email
    = f.email_field :email, autofocus: true

  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  - if @has_photos_to_upload
    .field
    = f.check_box :move_photos, {checked: true}
    = f.label "Would you like to save the photos you uploaded?"
  .field
    = f.submit "Login"

.field
= render "devise/shared/links" 
