= form_for @photo, :html => { :multipart => true } do |f|

  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = image_tag @photo.image.url(:thumb) unless @photo.image.nil?
    = f.file_field :image
  .field
    .label Photographer

  .field
    = f.label :location
    = f.number_field :location_id
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.label :note
    = f.text_field :note
  .actions
    = f.submit 'Save'
