%h1 Listing photos

- if @photos.nil?
  %div You don't have any photos to show
  
- if @photos

  %button.prevPhotoSetBtn{id: "prevPhotoSetBtn", url: photos_path} <<
  .jcarousel
    %ul
      - @photos.each do |photo|
        %li= link_to image_tag(photo.image.url(:thumb)), "#", class: "photo", data: {photo_id:"#{photo.id}"} unless photo.image.nil?
  %button.nextPhotoSetBtn{id: "nextPhotoSetBtn", url: photos_path} >> 
    
  %table
    %tr
      %th Image
      %th Photographer
      %th Location
      %th Tags
      %th Note
      %th{colspan:3} Actions
      %th
      %th

    - @photos.each do |photo|
      %tr
        %td= image_tag photo.image.url(:thumb) unless photo.image.nil?
        %td= photo.user.guest? ? "Guest Account" : photo.user.email 
        %td= photo.location.description
        %td= photo.tags
        %td= photo.note
        %td= link_to 'Show', photo
        %td= link_to 'Edit', edit_photo_path(photo)
        %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

%div= link_to 'New Photo', new_photo_path


#showBig