%p#notice= notice

%p
  %b Photographer:
  = @photo.user.email if @photo.user
%p
  %b Location:
  = @photo.location.description
%p
  %b Tags:
  = @photo.tags
%p
  %b Note:
  = @photo.note
%p
  /= image_tag @photo.image.url unless @photo.image.nil?
  = image_tag @photo.image.url(:large) unless @photo.image.nil?
  = image_tag @photo.image.url(:medium) unless @photo.image.nil?
  = image_tag @photo.image.url(:thumb) unless @photo.image.nil?
= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'All of my photos', photos_path
