%h1 Listing locations

%table
  %tr
    %th Description
    %th Geo tag
    %th Longitude
    %th Latitude
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.description
      %td= location.geo_tag
      %td= location.longitude
      %td= location.latitude
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
